body{
//	background-color: #b0cfee;
	font-size:12px;
	font-family:"宋体";
	margin:0px;
	padding: 0px;
}

table tr:nth-child(even) {
	background-color: #C6E2E0;
}

table tr:nth-child(odd):not(.table-header) {
	background-color: #FFF0F5;
}

tr {
	height: 20px;
}

tr:hover{
	background-color: 	#96CDCD;
}

td input{
	text-align: left;
	padding-left:10px;
	width:30%;	
}

input:hover{
	background-color: 	#96CDCD;
}

fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver}
legend{padding:.5em;border:0px solid silver;width:auto;margin: 0 0px; font-size: 14px;}

.input-text {
	width:100px;
	height:20px;
	margin-left:5px;
}
.short-input-text {
	width:50px;
	height:20px;
}
.unit-type {
	margin-left:0px;
	padding-left: 0px;
}
.label-type {
	margin-left:20px;
	padding-right: 0px;
}
.ui-layout-center {
	margin-left: 10px;
	margin-right: 10px;
}
.ui-layout{
	width:99.6%;
	height:100%;
	margin:5px;
	padding: 0px;
	overflow-x: hidden;
}

.table-header {
	background-color: #E0EEEE;
}
.data{
	text-align: center;
}
header{
	text-align:center;
}
footer {
	margin-top:20px;
	background: cornflowerblue;
	text-align: center;
}

img {
	 width:auto;
	 height:auto;
	 max-width:100%;
	 max-height:100%;
}
